@import '../../index.scss';

.crew__wrapper {
    background:
        url(../../assets/crew/background-crew-mobile.jpg) center / 100% 100% border-box no-repeat;
    height: 100%;
    min-height: 100vh;
    padding: 75px 24px 0 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .image__container {
            display: flex;
            justify-content: center;
            margin-top: 32px;
            margin-bottom: 2px;
        img {
            height: 222px;
            width: 177px;
           
           
        }
    }
}

hr  {
    margin-top: 0;
    height: 2px;
    color: $color-light;
}

.nav-btn-list-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    padding: 0;
    margin: 0 0 32px 0;
}

.nav-btn-sm {
    height: 10px;
    width: 10px;
    background-color: $color-white;
    border-radius: 50%;
    margin: 10px;
    opacity: 17%;
    
        &:active {
            opacity: 100%;
        }
    
        &:hover {
            opacity: 50%;
        }
}

.sub-head-1 {
    font-family: $font-primary;
    font-size: 16px;
    opacity: 49%;
}

.sub-head-2 {
    font-family: $font-primary;
    font-size: 24px;
}

.crew__info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.crew__text {
    max-width: 334px;
}

@media screen and (min-width: 575px) {

        .crew__wrapper {

            align-items: flex-start;
            justify-content: flex-end;

                .container {

                display: flex;
                flex-direction: column-reverse;

                .crew__info {
                        flex-direction: column-reverse;
                    }

                hr {
                    display: none;
                }

                    .img__container {
                        
                        height: 532px;
                        width: 450px;

                        img {
                           height: 100%; 
                           width: auto;
                           overflow: hidden;
                        } 
                        
                    }

                }

                .crew__header {
                    margin-bottom: 40px;
                }
    }

        @media screen and (min-width: 768px) {
    
            .crew__wrapper {
            
                    .container {

                        flex-direction: row-reverse;
                        align-items: end;
                        justify-content: space-between;

                        .image__container {
                            width: 450px;
                            height: 600px;
                            min-width: 36%;

                            img {
                                
                                width: 100%;
                                height: auto;
                                overflow: hidden;
                            }
                        }
                        .crew__info {
                            flex-direction: column-reverse;
                            padding: 3rem;
                            text-align: left;

                            p {
                                text-align: left;
                            }

                            .sub-head-2 {
                                font-size: 56px;
                                line-height: normal;
                            }

                            ul {
                                    align-self: flex-start;
                                        justify-self: flex-end;
                                        margin-bottom: 0;
                                        margin-top: 3rem;
                            }
                        }
                    }
    
        }
    }
}