@import '../../index.scss';

.header__container {
    background: 
        url(../../assets/home/background-home-mobile.jpg)
        center /
        100% 100%
        border-box
        no-repeat;
        height: 100%;
        min-height: 100vh;

    h1 {
        text-align: center;
        font-size: 80px;
    }

    h5 {
        text-align: center;
        font-size: 16px;
        color: $color-light;
        // margin-top: 35px;
    }

    p {
        text-align: center;
        color: $color-light;
        font-size: 15px;
    }

    button.btn-main {
        @include button-main;
        height: 150px;
        width: 150px;
        font-family: $font-primary;
        font-size: 20px;
        border: 0;
        margin: 62px 0 48px 0;
        outline: #979797 solid 0;
        transition: all;

    &:hover {
        outline:#979797 solid 36px;
    }

        // &:hover {
            
        //     border: 20px solid $color-light;
        // }


    }

        .hero__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 56px 24px 0 24px;

            .hero__text {
                max-width: 334px;
            }
        }
  
}


@media screen and (min-width: 575px) {
    .header__container {
            background:
            url(../../assets/home/background-home-tablet.jpg) center / 100% 100% border-box no-repeat;
            height: 100%;
            min-height: 100vh;
    }

    .hero__wrapper h5 {
        margin-top: 106px; 
    }


}