@import '../../index.scss';

.tech__wrapper {
    background:
        url(../../assets/technology/background-technology-mobile.jpg) center / 100% 100% border-box no-repeat;
    height: 100%;
    min-height: 100vh;
    padding-top: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image__container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;

        img {
            height: 170px;
            width: 100vw !important;


        }
    }
}

.nav-btn-list-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 32px 0;
}

.nav-btn-lg {
        height: 40px;
        width: 40px;
        background-color: transparent;
        border-radius: 50%;
        margin: 10px;
        color: white;
        border: .5px solid white;
        transition: all;
    
        &:active, &:focus {
        background-color: $color-white;
        color: $color-dark;
        }
    
        // &:hover {
        //     border: 2px solid white;
        // }
}

.tech__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tech__info-inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .tech__text {
            max-width: 350px;
            padding: 0 24px;
        }
    }
}

// .tech__text {
//     max-width: 334px;
// }

@media screen and (min-width: 575px) {

    .tech__wrapper {
        background:
                url(../../assets/technology/background-technology-tablet.jpg) center / 100% 100% border-box no-repeat;

        .tech__header {
            padding-left: 24px;
        }
       

            .image__container {
                align-self: center;
                height: 310px;

                img {
                
                height: 310px;
                width: 100%;
            }}

                        .tech__text {
                            max-width: 550px;
                        }
            
            
            
    }

@media screen and (min-width: 768px) {

    .tech__wrapper {
        background:
                url(../../assets/technology/background-technology-desktop.jpg) center / 100% 100% border-box no-repeat;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        .image__container {
                order: 0;
                justify-content: end;
                width: 40%;
                height: 55%;

                img {
                    
                    height: 100%;
                    max-width: 100%;
                    max-height: 500px;
                    overflow: hidden;
                    
                }
        }

        .tech__header {
            position: absolute;
            left: 0.1%;
        }
    

            .nav-btn-list-lg {
                flex-direction: column;
                margin-right: 1rem;

                button {
                    height: 60px;
                    width: 60px;
                }
            }

            .tech__info {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 0 !important;
                margin-left: 6%;

                .tech__info-inner {
                        
                        margin-left: 1rem;
                        align-items: flex-start;
                }

                .sub-head-2 {
                    font-size: 56px;
                    line-height: normal;
                    text-align: left;
                }

                p {
                    text-align: left;
                    margin-bottom: 0;
                    max-width: 500px;
                }

                .tech__text {
                    padding: 0;
                }
            }

    }
    
    }
}