
@import '../../index.scss';

.destination__wrapper {
    background: 
        url(../../assets/destination/background-destination-mobile.jpg) 
        center / 100% 100% border-box no-repeat;
    height: 100%;
    min-height: 100vh;
    padding: 75px 24px 0 24px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .image__container {
            display: flex;
            justify-content: center;
            margin-top: 32px;
            margin-bottom: 2px;
    
            img {
                height: 170px;
                width: 170px;
            }
        }
    }

 h5 {
     text-align: center;
     font-size: 16px;
     color: $color-light;

     span {
        margin-right: 8px;
        opacity: 0.25;
     }
 }

.nav__links {
    
    justify-content: center;
    margin-top: 45px;

    .nav__link {
    @include nav-tabs;
    color: $color-light;


    }
}

.planet__header {
    color: white;
    font-size: 56px;
    text-align: center;
    margin-top: 20px;


}

.planet__info {
    justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
     }

 .planet__text {
     max-width: 334px;
 }

p {
    font-size: 15px;
    color: $color-light;
    text-align: center;
}

.sub-head-1 {
    @include subheading-1;
}

.sub-head-2 {
    @include subheading-2;
    
}

.dest__info {
    margin-bottom: 58px;
}

hr {
    height: 2px;
    background-color: $color-light;
}

@media screen and (min-width: 575px) {
    
    .destination__header {

        background:
                url(../../assets/destination/background-destination-tablet.jpg) center / 100% 100% border-box no-repeat;
        }

                h5 {
                    text-align: left;
                    align-self: flex-start;
                }

    .dest__info {
            width: 100%;
            display: flex;
            justify-content: space-around;
    }

    h5 {
                text-align: left;
                font-size: 16px;
        }
.destination__wrapper .image__container img {
            height: 300px;
            width: 300px;
        }
@media screen and (min-width: 768px) {

   .destination__wrapper {

    background:
            url(../../assets/destination/background-destination-desktop.jpg) center / 100% 100% border-box no-repeat;

    h5 {
        background: transparent;
        text-align: left;
        align-self: flex-start;
    }
    .container {
                flex-direction: row;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .image__container {
                   
                    padding: 3rem;
                  
                }   
    }
   }

}

}