@import "~bootstrap/scss/bootstrap";

// @import-normalize;
/* bring in normalize.css styles */

// html,
// body,
// div,
// span,
// object,
// iframe,
// figure,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// blockquote,
// pre,
// a,
// code,
// em,
// img,
// small,
// strike,
// strong,
// sub,
// sup,
// tt,
// b,
// u,
// i,
// ol,
// ul,
// li,
// fieldset,
// form,
// label,
// table,
// caption,
// tbody,
// tfoot,
// thead,
// tr,
// th,
// td,
// main,
// canvas,
// embed,
// footer,
// header,
// nav,
// section,
// video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   text-size-adjust: none;
// }

// footer,
// header,
// nav,
// section,
// main {
//   display: block;
// }

html {
  background-color: #0B0D17;
}

body {
  line-height: 1;
    background-color: #0B0D17;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  color: #000;
}

// Colors

$color-dark: #0B0D17;
$color-light: #D0D6F9;
$color-white: #FFFFFF;


// Fonts 

$font-primary: 'Bellefair',
serif;

$font-secondary: 'Barlow Condensed',
sans-serif;
  
//Headings

p {
  font-family: $font-secondary;
  line-height: 1.5;
}

h1 {
  font-family: $font-primary;
  font-size: 150px;
  color: $color-white;
}

h2 {
  font-family: $font-primary;
  // font-size: 100px;
}

h3 {
  font-family: $font-primary;
  font-size: 56px;
}

h4 {
  font-family: $font-primary;
  font-size: 32px;
}

h5 {
  font-family: $font-secondary;
  // font-size: 28px;
  letter-spacing: 4.75;

}

//Subheadings 

@mixin subheading-1 {
  font-family: $font-secondary;
  font-size: 14px;
  letter-spacing: 2.35;
}
@mixin subheading-2 {
  font-family: $font-primary;
  font-size: 28px;
} 



// Types 

@mixin nav-text {
  font-family: $font-secondary;
  font-size: 16px;
  letter-spacing: 2.7;  
  border-bottom: 3px solid transparent;
  // color: $color-light;
}

@mixin body-text {
  font-family: $font-primary;
  font-size: 18px;  
  line-height: 32;
}

//Buttons

@mixin button-main {
  height: 274px;
  width: 274px;
  border-radius: 50%;
  background-color: $color-white;
    // &:hover {
    //   border: 88px solid $color-light;
    // }
}

@mixin nav-tabs {
  @include nav-text();
  &:active {
    border-bottom: 3px solid $color-white;
    color: $color-white;
  }

    &:hover {
      border-bottom: 3px solid $color-light;
      color: $color-light;
    }

}